:root {
  font-family: 'Raleway', sans-serif;
  --Pale-Blue: hsl(243, 100%, 93%);
  --Grayish-Blue: hsl(229, 7%, 55%);
  --Dark-Blue: hsl(228, 56%, 26%);
  --Very-Dark-Blue: hsl(229, 57%, 11%);
  --margen-lefth: 40px;
  font-size: 14px
}

html {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--Very-Dark-Blue);
  background-image: url("/images/bg-desktop.png");
  background-position: right bottom;
  background-size: 100% 55.64%;
  background-repeat: no-repeat;
}

.container {
  width: 900px;
  display: flex;
  flex-direction: row;
}

.container .menu {
  margin-right: 30px;
}

.menu,
.storage {
  background-color: var(--Dark-Blue);
}


.menu {
  border-radius: 8px 100px 8px 8px;
  width: 350px;
  height: 200px;
  align-self: flex-end;
}

.title {
  margin: 0;
}

.logo {
  margin-top: 40px;
  margin-left: 40px;
  margin-bottom: 34px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-left: 40px;
}

li {
  float: left;
}


.link {
  background-color: var(--Light-Grayish-Blue);
  display: inline-block;
  width: 46px;
  height: 46px;
  margin-right: 16px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

img {
  display: block;
  margin: 13px auto;
}

.link:link,
.link:visited {
  text-decoration: none;
}

.link:hover,
.link:active {
  text-decoration: underline;
}

.link:link {
  background: var(--Very-Dark-Blue);
  border-radius: 5px;
}

.link:visited {
  color: blue;
}

.link:hover {
  background: coral;
  color: white;
  border-radius: 5px;
}

.link:active {
  transform: scale(.9);
}

.storage {
  width: 540px;
  height: 150px;
  color: white;
  border-radius: 8px;
  align-self: flex-end;
}

.info p {
  margin: var(--margen-lefth) 0px 20px 40px;
}



.progress {
  background-color: hsl(230, 55%, 18%);
  width: 455px;
  height: 20px;
  border: 5px white;
  /* visibility: visible; */
  border-radius: 15px;
  position: relative;
  left: var(--margen-lefth)
}

.space {
  position: absolute;
  right: 0px;
  width: 180px;
  height: 70px;
  bottom: 60px;
  color: var(--Very-Dark-Blue);
  background-color: hsl(0, 0%, 100%);
  font-size: 1em;
  border-radius: 10px;
}

.space p {
  width: 100%;
  height: 70px;
  margin: 0;
  line-height: 70px;
  text-align: center;
}

.space span {
  font-weight: bold;
  font-size: 3em;
}

.bar {
  width: 340px;
  background-image: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
  border-radius: 15px;
  height: 14px;
  position: relative;
  top: 3px;
  left: 3px;
}

.bar span {
  position: relative;
  bottom: 1px;
  left: 327px;
  background-color: white;
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 10px
}

.initial,
.max-capacity {
  position: absolute;
  top: 10px;
}

.initial {
  position: absolute;
  left: 0px;
}

.max-capacity {
  position: absolute;
  right: 0px;
}

.attribution {
  text-align: center;
  position: relative;
  top: 40px;
  font-size: 1.2em;
}