:root {
  --Pale-Blue: hsl(243, 100%, 93%);
  --Grayish-Blue: hsl(229, 7%, 55%);
  --Dark-Blue: hsl(228, 56%, 26%);
  --Very-Dark-Blue: hsl(229, 57%, 11%);
}

/* reset */
body {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

/* content */
html {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--Very-Dark-Blue);
  background-image: url("/assets/bg-desktop.png");
  background-position: left bottom;
  background-size: 100% 55.64%;
  background-repeat: no-repeat;
}

.container {
  width: 920px;
  display: flex;
  flex-direction: row;
}

.menu {
  border-radius: 8px 100px 8px 8px;
  width: 350px;
  height: 200px;
  align-self: flex-end;
  margin-right: 30px;
}

.menu,
.storage {
  background-color: var(--Dark-Blue);
}

.title {
  margin-left: 40px;
  margin-top: 40px;
  margin-bottom: 33px;
}

.logo {
  margin: 40px 0px 34px 40px;
}

.container-link-menu {
  display: flex;
  margin-left: 40px;
}

.link-menu {
  background-color: var(--Very-Dark-Blue);
  width: 48px;
  height: 48px;
  margin-right: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
}

.storage {
  width: 540px;
  height: 150px;
  color: white;
  border-radius: 8px;
  align-self: flex-end;
}

.space-used,
.white-space {
  font-weight: 700;
}

.info,
.progress,
.flex-space {
  width: 455px;
  margin: auto;
}

.info {
  position: relative;
  margin: 40px auto 20px auto;
}

.info p::first-letter {
  text-transform: capitalize;
}

.space {
  position: absolute;
  right: 0px;
  bottom: 30px;
  width: 180px;
  height: 70px;
  color: var(--Very-Dark-Blue);
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px 10px 0px 10px;
  font-size: 1rem;
  text-transform: uppercase;
  text-align: center;
  line-height: 62.5px;
}

.space::after {
  transform: translateX(158px);
  display: block;
  content: '';
  width: 22px;
  height: 20px;
  background-color: white;
  clip-path: polygon(100% 0, 0 0, 100% 100%);
}

.white-space {
  font-size: 2.5rem;
}

.progress {
  background-color: hsl(230, 55%, 18%);
  width: 455px;
  height: 20px;
  border: 5px white;
  border-radius: 15px;
}

.bar {
  transform: translate(4px, 3px);
  width: 340px;
  background-image: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
  border-radius: 15px;
  height: 14px;
}

.bar::after {
  display: inline-block;
  transform: translate(327px, -1px);
  content: '';
  background-color: white;
  height: 10px;
  width: 10px;
  border-radius: 10px;
}

.flex-space {
  display: flex;
  justify-content: space-between;
  width: 455px;
  margin: auto;
}

.initial,
.max-capacity {
  margin-top: 2px;
  font-weight: 700;
  text-transform: uppercase;
}

/* footer */
.attribution {
  text-align: center;
  position: relative;
  top: 100px;
  font-size: .9em;
  color: white;
}

.attribution:link,
.link:visited {
  color: white;
  text-decoration: underline;
}

.link:hover,
.link:active {
  color: inherit;
  text-decoration: underline;
}

.link-menu:link {
  background: var(--Very-Dark-Blue);
  border-radius: 5px;
}

.link:active {
  transform: scale(.9);
}

@media only screen and (max-width:980px) {
  body {
    background-image: url(/images/bg-mobile.png);
    background-size: cover;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    width: 325px;
  }

  .menu {
    margin-bottom: 16px;
    margin-right: 0;
  }

  .info {
    margin-top: 32px;
    margin-bottom: 18px;
  }

  .menu,
  .storage {
    width: 325px;
  }

  .storage {
    height: 160px;
  }

  .info,
  .flex-space {
    width: 234px;
  }

  .progress,
  .flex-space {
    width: 260px;
    margin: auto;
  }

  .space {
    top: 95px;
    left: 24px;
    width: 177px;
    border-radius: 10px;
  }

  .space::after {
    content: none;
  }

  .bar {
    width: 194px;
  }

  .bar::after {
    transform: translate(181px, -1px);
  }
}