@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,700;1,400&display=swap');

:root {
  font-family: 'Raleway', sans-serif;
  --Pale-Blue: hsl(243, 100%, 93%);
  --Grayish-Blue: hsl(229, 7%, 55%);
  --Dark-Blue: hsl(228, 56%, 26%);
  --Very-Dark-Blue: hsl(229, 57%, 11%);
}

html {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--Very-Dark-Blue);
  background-image: url("/images/bg-desktop.png");
  background-position: right bottom;
  background-size: 100% 350px;
  background-repeat: no-repeat;
}


.menu,
.storage {
  background-color: var(--Dark-Blue);
}

.menu {
  border-radius: 8px 100px 8px 8px;
  width: 300px;
  height: 250px;
  align-self: flex-end;
}

.storage {
  width: 600px;
  height: 200px;
  color: white;
  border-radius: 8px;
  align-self: flex-end;
}

.progress {
  background-color: var(--Very-Dark-Blue);
  width: 80%;
  border: 5px white;
  /* visibility: visible; */
  border-radius: 15px;

  position: relative;
  left: 30px;
}

.space {
  position: absolute;
  right: 0px;
  width: 200px;
  height: 80px;
  font-size: 2em;
  bottom: 40px;
  color: var(--Very-Dark-Blue);
  background-color: var(--Pale-Blue);
  font-size: 1em;
  border-radius: 10px;
  border: 4px solid var(--Very-Dark-Blue)
}

.space span {
  font-size: 2em;
}

.title {
  margin-left: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container {
  width: 900px;
  display: flex;
  flex-direction: row;
}

.container .menu {
  margin-right: 30px;
}

.attribution {
  text-align: center;
  position: relative;
  top: 40px;
  font-size: 1.2em;
}

.link {
  display: inline-block;
  padding: .3em;
  background-color: var(--Light-Grayish-Blue)
}

.link:link,
.link:visited {
  text-decoration: none;
}

.link:hover,
.link:active {
  text-decoration: underline;
}

.link:link {
  background: white;
  color: blue;
  border-radius: 5px;
}

.link:visited {
  color: blue;
}

.link:hover {
  background: coral;
  color: white;
  border-radius: 5px;
}

.link:active {
  transform: scale(.9);
}

.info {
  display: inline-block;
}

.initial {
  position: absolute;
  left: 0px;
}

.max-capacity {
  position: absolute;
  left: 400px;
}

.bar {
  width: 80%;
  background-image: linear-gradient(to right, #ffa097, #fa4c91);
  border-radius: 15px;
}

/* .bar span {
  background-color: white;
  display: inline-block;
  height: 2px;

  position: absolute;
  left: -10px;
} */

li {
  display: inline-block;
  margin-right: 10px;
}

li:first-child {
  margin-left: 20px;
}